footer {
    display: flex;
    flex-direction: row;
    background-color: antiquewhite;

    .terminos-dos {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;

        .terminos {
            text-decoration: none;
            color: #000000;
            font-size: $fuente-footer;
            line-height: 28px;

            &:hover {
                color: $lila;
                font-weight: bold;
            }
        }
    }

    .medios-pago {

        .medios-dos {
            font-size: $fuente-footer;
            text-align: center;
            margin-top: 10px;
        }

        .medios-tres {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            img {
                width: 15%;
                margin-top: 10px;
            }
        }
    }

    .copy-dos {
        width: 100%;

        .copy {
            text-align: center;
            margin-top: 40px;
            margin-right: 10px;
            font-size: $fuente-footer;
        }
    }
}