header {
  background-color: #faebd7;
  display: flex;
  flex-direction: row;
}
header img {
  width: 10%;
}
header nav input,
header nav label {
  display: none;
}
header nav ul {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
header nav ul li {
  padding: 5px;
  list-style: none;
  margin-top: 40px;
}
header nav ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 20px;
}
header nav ul li a:hover {
  color: #a9aae8;
  font-weight: bold;
}

footer {
  display: flex;
  flex-direction: row;
  background-color: antiquewhite;
}
footer .terminos-dos {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
footer .terminos-dos .terminos {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  line-height: 28px;
}
footer .terminos-dos .terminos:hover {
  color: #a9aae8;
  font-weight: bold;
}
footer .medios-pago .medios-dos {
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
}
footer .medios-pago .medios-tres {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
footer .medios-pago .medios-tres img {
  width: 15%;
  margin-top: 10px;
}
footer .copy-dos {
  width: 100%;
}
footer .copy-dos .copy {
  text-align: center;
  margin-top: 40px;
  margin-right: 10px;
  font-size: 16px;
}

/* INDEX */
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.grid section {
  grid-column-start: 1;
  grid-column-end: 13;
}
.grid section .gusto,
.grid section .gusto-dos {
  display: flex;
  justify-content: space-evenly;
}
.grid section .gusto h1,
.grid section .gusto-dos h1 {
  color: #a9aae8;
  font-size: 55px;
  margin-top: 70px;
}
.grid section .gusto h1:hover,
.grid section .gusto-dos h1:hover {
  text-shadow: #ffffff 5px 5px 15px, #ffffff 5px 5px 15px, #ffffff 5px 5px 15px;
}
.grid section p {
  width: 35%;
  font-size: 20px;
  text-align: center;
  border-radius: 10px;
  margin-top: 90px;
}
.grid section img {
  width: 40%;
  height: auto;
  border-radius: 20px;
  margin-top: 50px;
}
.grid .nuestro {
  width: 40%;
  font-size: 20px;
  text-align: center;
  margin-bottom: 50px;
}
.grid .local {
  display: flex;
  justify-content: center;
}
.grid .local img {
  width: 45%;
  height: auto;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* MENU */
.grid-cinco {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin: auto;
  background-image: url(../multimedia/fondo.jpg);
}
.grid-cinco div h1 {
  color: #a9aae8;
  font-size: 55px;
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
}
.grid-cinco div h1:hover {
  text-shadow: #ffffff 5px 5px 15px, #ffffff 5px 5px 15px, #ffffff 5px 5px 15px;
}
.grid-cinco div .papas {
  text-align: center;
  margin-left: 30px;
  padding: 10px;
}
.grid-cinco div h2 {
  font-size: 20px;
  margin-left: 10px;
}
.grid-cinco div p {
  width: 90%;
  font-size: 16px;
  padding: 3px;
  margin-left: 5px;
}
.grid-cinco div img {
  width: 70%;
}

/* NOSOTROS */
.grid-tres {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px;
}
.grid-tres div .sucursal {
  font-size: 20px;
  margin-top: 70px;
  text-align: center;
}
.grid-tres div p {
  text-align: center;
  font-size: 20px;
}

/* CONTACTO */
.grid-cuatro {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px;
}
.grid-cuatro div p {
  font-size: 18px;
  text-align: center;
  width: 100%;
}
.grid-cuatro div .logos {
  display: flex;
  justify-content: center;
}
.grid-cuatro div .logos img {
  width: 40px;
  margin-top: 8px;
  padding: 3px;
}
.grid-cuatro div .equipo {
  font-size: 18px;
  width: 100%;
  margin-left: 100px;
  color: #a9aae8;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(#ffc0cb, #faebd7, #ffc0cb);
  font-family: Jost;
  overflow-x: hidden;
}
body .suscribite {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .suscribite p {
  font-size: 30px;
  color: #a9aae8;
  margin-top: 50px;
}
body .suscribite p:hover {
  text-shadow: #ffffff 5px 5px 15px, #ffffff 5px 5px 15px, #ffffff 5px 5px 15px;
}
body .suscribite .form {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
body .suscribite .form #suscribite-dos {
  width: 25%;
  border-radius: 10px;
  border-color: #ffffff;
}
body .suscribite .form button {
  width: 10%;
  padding: 5px;
  color: #ffffff;
  background-color: #a9aae8;
  border-color: #a9aae8;
  border-radius: 10px;
  font-size: 20px;
  margin-left: 10px;
}

/* EVENTOS */
.eventos {
  font-size: 55px;
  text-align: center;
  color: #a9aae8;
  padding: 20px;
  margin-top: 50px;
  font-weight: bold;
}
.eventos:hover {
  text-shadow: #ffffff 5px 5px 15px, #ffffff 5px 5px 15px, #ffffff 5px 5px 15px;
}

.tarjetas {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.tarjetas .card {
  margin-top: 50px;
  height: 50%;
}
.tarjetas .card-body .btn {
  background-color: antiquewhite;
}

/* NOSOTROS */
.nos {
  margin-top: 80px;
  text-align: center;
  font-size: 25px;
  width: 90%;
  margin-left: 70px;
}
.nos .flore {
  color: #a9aae8;
}

.carrusel {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.carrusel #carouselExampleIndicators {
  width: 40%;
}

.nosDos {
  font-size: 25px;
  text-align: center;
  margin-top: 50px;
  width: 90%;
  margin-left: 50px;
}

h1 {
  margin-top: 100px;
  text-align: center;
  color: #a9aae8;
  font-size: 35px;
  margin-top: 60px;
}
h1:hover {
  text-shadow: #ffffff 5px 5px 15px, #ffffff 5px 5px 15px, #ffffff 5px 5px 15px;
}

/* CONTACTO */
.contacto {
  font-size: 55px;
  padding: 20PX;
}
.contacto:hover {
  text-shadow: #ffffff 5px 5px 15px, #ffffff 5px 5px 15px, #ffffff 5px 5px 15px;
}

.contact_form {
  width: 470px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #ffffff;
  padding-left: 30px;
}
.contact_form .input2 {
  background-color: #ffffff;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #ffc0cb;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}
.contact_form .texto_mensaje {
  background-color: #ffffff;
  width: 405px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #ffc0cb;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}
.contact_form label {
  display: block;
  float: center;
}
.contact_form .button-send {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #ffc0cb;
  border-color: #ffc0cb;
  border-style: solid;
  border-radius: 10px;
  width: 420px;
  cursor: pointer;
}
.contact_form .text-button {
  color: #ffffff;
}

@media (max-width: 576px) {
  header img {
    display: none;
  }
  header nav .input-menu {
    display: none;
  }
  header nav .input-menu:checked ~ label {
    background-color: #faebd7;
  }
  header nav .input-menu:checked ~ ul {
    display: block;
  }
  header nav .menu {
    box-sizing: border-box;
    display: inline-block;
    border: 3px solid #ffffff;
    border-radius: 7px;
    width: 60px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    margin-top: 10px;
    margin-left: 10px;
  }
  header nav ul {
    display: none;
    margin-top: 0;
    padding: 0;
    width: 200px;
  }
  header nav ul li {
    display: block;
    background: #faebd7;
    margin: 0;
    padding: 10px;
    list-style: none;
  }
  .grid section .gusto-dos {
    display: flex;
    flex-direction: column;
  }
  .grid section .gusto-dos h1 {
    font-size: 50px;
  }
  .grid section .gusto-dos p {
    width: 100%;
    height: auto;
    margin-top: 10px;
    padding: 5px;
  }
  .grid section .gusto img {
    width: 45%;
    margin-top: 20px;
  }
  .grid section .local img {
    width: 60%;
    margin-top: 5px;
  }
  .suscribite p {
    text-align: center;
  }
  .suscribite .form #suscribite-dos {
    width: 100%;
  }
  .suscribite .form button {
    width: auto;
  }
  footer {
    display: flex;
    flex-direction: column;
  }
  footer .terminos-dos .terminos {
    text-align: center;
  }
  footer div p {
    text-align: center;
  }
  footer div .form {
    margin-left: 50px;
  }
  footer .copy-dos .copy {
    margin-top: 15px;
  }
  .grid-cinco {
    display: grid;
    grid-template-columns: 1fr;
  }
  .grid-cinco div h1 {
    margin-top: 50px;
    margin-bottom: 20px;
    text-shadow: #ffffff 5px 5px 15px, #ffffff 5px 5px 15px, #ffffff 5px 5px 15px;
  }
  .eventos {
    font-weight: bold;
  }
  .tarjetas {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tarjetas .card {
    width: 100%;
    margin-top: 20px;
  }
  .tarjetas element.style {
    width: 10rem;
  }
  .nos {
    margin-left: 0;
    width: 100%;
    padding: 10px;
  }
  .carrusel #carouselExampleIndicators {
    width: 80%;
  }
  .nosDos {
    margin-left: 0;
    width: 100%;
    padding: 10px;
  }
  h1 {
    margin-bottom: 50px;
  }
  .grid-tres {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .grid-tres div .sucursal {
    margin-top: 0;
    color: #a9aae8;
    font-weight: bold;
  }
  .contacto {
    font-size: 40px;
  }
  .contact_form {
    padding-left: 10px;
    width: 340px;
    margin-top: 10px;
  }
  .contact_form .input2 {
    width: 320px;
  }
  .contact_form .texto_mensaje {
    width: 320px;
  }
  .contact_form .button-send {
    width: 320px;
  }
  .grid-cuatro {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 100px 80px;
  }
}/*# sourceMappingURL=main.css.map */