/*inicio index*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

body {
    background: linear-gradient(lightblue, antiquewhite, lightblue);
    font-family: tahoma;
}

body header {
    height: 400px;
}
body header h1 {
    text-align: center;
    font-size: 100px;
    font-family: Pacifico;
    text-decoration: underline #c8677f;
    height: 150px;
    padding: 10px;
    transform: translateY(100px);
}

body nav {
    width: auto;
    height: 50px;

}

body header nav ul {
    transform: translate(50px, 10px);
  
}

body header nav ul li {
    font-size: 20px;
    display: inline;
    padding: 6px;
   
}

body header nav ul li a {
    text-decoration: none;
    color: black;

}

body header nav ul li a:hover {
    color:antiquewhite;
}


body .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 750px 950px 800px 50px;
}

body .grid section div h2 {
    color: #a9aae8;
    font-size: 60px;
    padding: 5px;
    transform: translate(250px, 50px);
    
}

body .grid section div p {
    width: 500px;
    font-size: 20px;
    display: flex;
    text-align: justify;
    padding: 5px;
    transform: translate(550px, -120px);
}

body .grid section .gusto img {
    width: 40%;
    height: auto;
    transform: translateX(60px);
}


body .grid section .gustoDos img {
    width: 40%;
    height: auto;
    transform: translate(700px, -335px);
}


body .grid .regala img {
    width: 35%;
    height: auto;
    transform: translate(140px, -1px);
}

body .grid .regalaDos img {
    width: 35%;
    height: auto;
    transform: translate(700px, -559px);
}


body .grid section div .nuestro {
    width: 600px;
    font-size: 20px;
    text-align: justify;
    padding: 5px;
    transform: translate(600px, -80px);

}

body main section .local img {
    width: 60%;
    height: auto;
    transform: translate(250px);
}

footer div .terminos {
    display: block;
    color: black;
    text-decoration: none;
    transform: translate(40px, 30px);
    padding: 5px;
}

footer img {
    width: 4%;
    transform: translate(550px, -40px);
}

footer .copy {
    transform: translate(900px, -70px);
}

footer div .terminos:hover {
    color:antiquewhite;
}

/* inicio menu */

body .menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 500px 50px 700px 50px 40px 800px 50px 600px ;
}

body .menu h3 {
    font-style: italic;
    text-align: center;
    font-size: 30px;
    color: #c8677f;
    text-decoration: underline;
}

body .menu h4 {
    text-align: center;
}

body .menu ul li {
    font-style: italic;
    font-size: 20px;
    padding: 5px;

}

body .menu ul p {
    padding: 10px;
    font-size: 15px;
    margin-left: 10px;
}

/* inicio eventos */

body h3 {
    font-size: 20px;
    margin-bottom: 100px;
    text-align: center;
}

body .grid-dos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 600px 550px;
}

body .grid-dos div p {
    font-size: 15px;
}

body .grid-dos div .cupcake {
    width: 60%;
    height: auto;
    border-radius: 20px;
    transform: translate(60px, 50px);
    
}

body .grid-dos div .frutillas {
    width: 60%;
    height: auto;
    border-radius: 20px;
    transform: translate(130px, 20px);
    
}

body .grid-dos div .galletita {
    width: 75%;
    height: auto;
    border-radius: 20px;
    transform: translate(60px, 80px);
}

body .grid-dos div .macarrons {
    width: 60%;
    height: auto;
    border-radius: 20px;
    transform: translate(130px, 80px);
}

body .grid-dos div .torta {
    width: 75%;
    height: auto;
    border-radius: 20px;
    transform: translateX(400px);
    margin-bottom: 100px;
}

body .grid-dos div .tortaDos {
    text-align: center;
    transform: translateX(300px);
}